{% extends'base.html' %}

{% block title %} Events{% endblock %}

{% block content %}

<h1 style="color:white;font-size:60px;text-align: center">ABOUT US</h1>
<h2 style= "color:white;font-size:25px;text-align: center">Over 5% of the world suffers from some degree of hearing loss. That's over 360 million people...</h2>
<h2 style= "color:white;font-size:25px;text-align: center">With Sign4Humanity, we seek to promote more Sign Language in the world by enabling users to practice communication skills.</h2>
<h2 style= "color:white;font-size:25px;text-align: center">Just like popular apps like iMessages, users can "text" using our program and formulate sentences through a series of signs.</h2>
<h1 style="color:white;font-size:60px;text-align: center">Why not just text?</h1>
<h2 style= "color:white;font-size:25px;text-align: center">In a world where 5% of it's population suffers from a degree of hearing loss, you could potentially encounter someone face to face who relies on sign language as a method of communication. </h2>
<h2 style= "color:white;font-size:25px;text-align: center">Therefore, we cannot just pull out a device and "text."</h2>
<h2 style= "color:white;font-size:25px;text-align: center">Finally, we seek to be inclusive and make everyone feel respected.</h2>
<h2 style= "color:white;font-size:25px;text-align: center">Sign Language is how we can do that. </h2>
{% endblock %}