{% extends'base.html' %}

{% block title %} Events{% endblock %}

{% block content %}

<h2 style="color:white;font-size:25px;">Available Signs</h2>

<div class = "b">
<img src="static/signs/b.jpg" alt="B" width="250" height="200">
<h1 style="color:white;font-size:40px;">B</h1>
</div>

<div class = "ily">
<img src="static/signs/ily.jpg" alt="ily" width="250" height="200">
<h1 style="color:white;font-size:40px;">I Love You</h1>
</div>

<div class = "my">
<img src="static/signs/my.jpg" alt="my" width="250" height="200">
<h1 style="color:white;font-size:40px;">My</h1>
</div>

<div class =  "o">
<img src="static/signs/o.jpg" alt="o" width="250" height="200">
<h1 style="color:white;font-size:40px;">O</h1>
</div>

<div class = "name">
    <video width="250" height="200" controls>
        <source src="static/signs/name.mp4" type="video/mp4">
      </video>
      <h1 style="color:white;font-size:40px;">Name</h1>
</div>

<div class = "you">
    <video width="250" height="200" controls>
        <source src="static/signs/you.mp4" type="video/mp4">
      </video>
      <h1 style="color:white;font-size:40px;">You</h1>
</div>
<div class = "good">
    <video width="250" height="200" controls>
        <source src="static/signs/good.mp4" type="video/mp4">
      </video>
      <h1 style="color:white;font-size:40px;">Good</h1>
</div>
<div class = "hello">
    <video width="250" height="200" controls>
        <source src="static/signs/hello.mp4" type="video/mp4">
      </video>
      <h1 style="color:white;font-size:40px;">Hello</h1>
</div>
<div class = "howare">
    <video width="250" height="200" controls>
        <source src="static/signs/howare.mp4" type="video/mp4">
      </video>
      <h1 style="color:white;font-size:40px;">How Are</h1>
</div>



{% endblock %}